* {
    font-family: Verdana;
}

@media screen and (max-aspect-ratio: 1/1) {
    .leftCont {
        width: 100% !important;
        height: 50% !important;
    }
    .rightImg {
        width: 100% !important;
        height: 40% !important;
    }
    .Title {
        font-size: 9vw !important;
    }
    .subtext {
        font-size: 5vw !important;
    }
    .par {
        font-size: 5vw !important;
    }
    .name {
        font-size: 12vw !important;
    }
    .secTitle {
        width: 100% !important;
        height: 25% !important;
    }
    .vl {
        margin-top: 0 !important;
        height: 75% !important;
        width: 100% !important;
        border-left: 0 !important;
        top: 0% !important;
        transform: translateY(0%) !important;
    }
    .Textp {
        font-size: 5vw !important;
    }
    .Textp img {
        width: 15% !important;
    }
    .division {
        height: 50% !important;
    }
    .division2 {
        height: 80% !important;
    }
    .footer {
        height: 10% !important;
    }
    .col {
        width: 100% !important;
        font-size: 3vw !important;
    }
    .col2 {
        width: 100% !important;
        font-size: 3vw !important;
    }
    .floatbutton {
        display: none !important;
    }
    .imgcontainer {
        max-width: 100% !important;
    }
}

html {
    scroll-behavior: smooth;
}

.section {
    margin: 0%;
    height: 100vh;
    text-align: center;
    background: #282b32;
}

.leftCont {
    float: left;
    width: 60%;
    height: 100%;
}

.Title {
    color: #00bfff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 7vw;
    text-align: center;
    vertical-align: middle;
}

.subtext {
    font-size: 1.5vw;
}

.subtext a {
    text-decoration: none;
    color: deeppink;
}

.par {
    font-size: 3vw;
}

.hoverable:hover {
    background: gray;
}

.name {
    width: 75%;
    color: cadetblue;
    font-size: 6vw;
    text-align: center;
    margin: auto;
}

.rightImg {
    float: right;
    width: 39%;
    height: 100%;
}

.introimg {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
    height: auto;
    border-radius: 50%;
}

.secTitle {
    float: left;
    width: 40%;
    height: 100%;
}

.vl {
    margin-top: 3%;
    float: right;
    width: 59%;
    border-left: 6px solid #403F4C;
    height: 80%;
}

.Textp {
    color: deeppink;
    margin-left: 10%;
    font-size: 3.2vh;
    width: 80%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.Textp img {
    width: 10%;
    height: auto;
    transition: transform .2s;
}

.Textp img:hover {
    transform: scale(1.5);
}

.division {
    height: 50%;
}

.division2 {
    height: 50%;
}

.footer {
    height: 15%;
}

.col {
    float: left;
    width: 30%;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    font-size: 1.5vw;
    color: #282b32;
    text-align: center;
}

.col2 {
    text-align: center;
    float: right;
    width: 30%;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    font-size: 1.5vw;
    margin: auto;
    color: #282b32;
}

.col2 a {
    text-decoration: none;
    color: inherit;
}

.floatbutton {
    position: fixed;
    bottom: 3%;
    right: 5%;
    width: 8%;
    height: auto;
    transition: transform .2s;
    z-index: 2;
}

.floatbutton img:hover {
    transform: scale(1.5);
}

.accordion {
    background: #282b32;
}

.accordion-header {
    color: #403F4C;
    padding: 1.5rem;
    text-align: center;
    transition: transform .2s;
}

.accordion-header svg:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.accordion-content {
    display: none;
    background: #282b32;
    padding: 1.5rem;
    color: #403F4C;
    text-align: center;
}

.active.accordion-header {
    transform: rotate(180deg);
}

.imgcontainer {
    position: relative;
    display: inline-block;
    max-width: 25%;
    /* Maximum width */
    height: auto;
    transition: transform .2s;
    margin: 3%;
}

.imgcontainer:hover {
    transform: scale(1.1);
    z-index: 2;
}

.imgcontainer .content {
    font-size: 12;
    position: absolute;
    /* Position the background text */
    bottom: 0;
    /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    /* Grey text */
    width: 100%;
    /* Full width */
}

/* Style inputs with type="text", select elements and textareas */

input[type=text], select, textarea {
    width: 100%;
    padding: 1%;
    /* Full width */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 15px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email], select, textarea {
    width: 100%;
    padding: 1%;
    /* Full width */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 15px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}